[color]
	ui = auto

[alias]
	s  = status -sb
	d  = diff --word-diff=color
	dc = diff --cached --word-diff=color
	l  = log --oneline --graph --decorate
	c  = commit -m
	co = checkout
	b  = branch
	r  = remote
	ss = stash save --keep-index
	sp = stash pop --index

[core]
	excludesfile = 

[user]
	name = xordog
	email = xordog@gmail.com

[merge]
	conflictstyle = diff3
