[color]
	ui = auto

[alias]
	s = status -sb
	d = diff --word-diff=color
	dc = diff --cached --word-diff=color
	l = log --oneline --decorate
	c = commit -m
	co = checkout
	b = branch
	r = remote

[core]
	excludesfile = 
